<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Student</display-name>
  <servlet>
    <servlet-name>loginservlet</servlet-name>
    <servlet-class>loginservlet</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>StudentServlet</servlet-name>
    <servlet-class>StudentServlet</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>information</servlet-name>
    <servlet-class>web.information</servlet-class>    
  </servlet>
  <servlet-mapping>
    <servlet-name>loginservlet</servlet-name>
    <url-pattern>/loginservlet</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>StudentServlet</servlet-name>
    <url-pattern>*.stu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>information</servlet-name>
    <url-pattern>/information</url-pattern>
  </servlet-mapping>
</web-app>